.box {
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0, 1);
  padding: 10px;
}

.box1 {
  background: violet;
}
.box2 {
  background: indigo;
}
.box3 {
  background: blue;
}
.box4 {
  background: green;
}
.box5 {
  background: yellow;
}
.box6 {
  background: orange;
}
.box7 {
  background: red;
}
.box8 {
  background: white;
}
.box9 {
  background: grey;
}
.box10 {
  background: black;
}

.container {
  display: flex;
  border: 10px solid goldenrod;
  height: 100vh;
}

.box {
  width: 300px;
}
